body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1rem;
  max-width: 65ch;
}

h1, h2 {
  font-family: 'Permanent Marker', 'Times New Roman', serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

p, ul {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

a:hover {
  color: red;
}